.home-container {
    min-height: 100vh;
    background-color: #F1EFEC;
    font-family: Arial, sans-serif;
}
  
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #030303;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
  
.nav-link {
    font-family: sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 5px 10px;
    transition: 0.3s;
}
  
.nav-link:hover {
    background-color: #ffffff;
    color: #333;
    border-radius: 5px;
}